[MESSAGES CONTROL]
disable=line-too-long,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    chained-comparison,
    logging-fstring-interpolation,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-many-arguments,
    too-many-instance-attributes,
    too-few-public-methods,
    too-many-public-methods,
    too-many-return-statements,
    too-many-nested-blocks,
    unused-argument,
    unused-variable,
    protected-access,
    broad-exception-caught,
    unspecified-encoding,
    raise-missing-from,
    no-else-return,
    import-outside-toplevel,
    import-error,
    redefined-outer-name,
    reimported,
    pointless-statement,
    duplicate-code,
    function-redefined
