[MESSAGES CONTROL]
disable=line-too-long,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    chained-comparison,
    logging-fstring-interpolation,
    too-many-arguments,
    broad-exception-caught,
    no-else-continue,
    raise-missing-from,
    inconsistent-return-statements,
    no-else-return,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    too-many-nested-blocks,
    import-error,
    unspecified-encoding,
    import-outside-toplevel,
    no-else-return,
    pointless-statement,
    too-many-lines,
    duplicate-key,
    superfluous-parens,
    too-many-instance-attributes,
    too-many-return-statements,
    global-statement,
    duplicate-code,
    too-many-positional-arguments
